- content_for :title do
  Sign In

- content_for :navigation do
  - if env['warden'].authenticated?
    %li= link_to 'Dashboard', '/users/me/dashboard'
    %li= link_to 'Profile', '/users/me'
  - else
    %li{:class=>'active'}= link_to 'Sign in', '/sessions/new'
    %li= link_to 'Sign up', '/users/new'


= form_for(@user, '/sessions', :class=>'form form-horizontal') do |f|
  %p
    = f.error_messages

  .form-group
    = f.label :email, :class=>'col-md-2 control-label'
    .col-md-5
      = f.text_field :email, :class=>'form-control'
  .form-group
    = f.label :password, :class=>'col-md-2 control-label'
    .col-md-5
      = f.password_field :password, :class=>'form-control'

  .form-actions
    .row
      .col-md-10{:class=>'col-md-offset-2'}
        = f.submit 'sign in',:class=>'btn btn-primary'