- content_for :title do
  %a{:href=>"/users/me/dashboard"}
    %span.icon-arrow-left2
  Create portfolio

= form_for @portfolio, '/portfolios', :builder=>UtilityFormBuilder, :class=>'form form-horizontal' do |f|
  .form-group
    %label{:for=>'organization',:class=>['col-md-2 control-label'] }
      Organization:
    .col-md-5
      = f.select(:organization, :collection => @organizations, :fields => [:name, :id],:class=>'form-control')
  .form-group{:class=>('has-error' unless @portfolio.errors[:name].empty?)}
    %label{:for=>'name',:class=>['col-md-2 control-label'] }
      Name:
    .col-md-5
      = f.text_field :name, :class=>'form-control'
    = f.error_messages_for :name
  .form-actions
    .row
      .col-md-10{:class=>'col-md-offset-2'}
        = f.submit 'Send',:class => "btn btn-primary"