- content_for :title do
  %a{:href=>"/users/me/dashboard"}
    %span.icon-arrow-left2
  Edit portfolio

%h3
  Edit portfolio data
= form_for @portfolio, "/portfolios/#{@portfolio.id}",:method=>:put, :builder=>UtilityFormBuilder, :class=>'form form-horizontal' do |f|
  .form-group{:class=>('has-error' unless @portfolio.errors[:name].empty?)}
    %label{:for=>'name',:class=>['col-md-2 control-label'] }
      Name:
    .col-md-5
      = f.text_field :name, :class=>'form-control'
    = f.error_messages_for :name
  .form-actions
    .row
      .col-md-10{:class=>'col-md-offset-2'}
        = f.submit 'Send',:class => "btn btn-primary"

%h3
  Delete portfolio
%form{:action=>"/portfolios/#{@portfolio.id}",:method=>'POST'}
  = csrf_token_field
  %input{:type=>'hidden',:name=>'_method',:value=>'DELETE'}
  %input{:type=>'submit',:value=>'Delete',:class=>'button-standard'}
%h3
  Add providers
.row
  .col-md-10
    %a{:href=>"/auth/oauth-v2/google?portfolioid=#{@portfolio.id}",:class=>'button-standard'}
      Add Google
    %a{:href=>"/auth/oauth-v2/facebook?portfolioid=#{@portfolio.id}",:class=>'button-standard'}
      Add Facebook
    %a{:href=>"/auth/oauth-v1/twitter?portfolioid=#{@portfolio.id}",:class=>'button-standard'}
      Add Twitter

- unless @portfolio.providers.select{|p| !p.deleted}.blank?
  %h3
    Current providers
  %table{:class=>'table table-bordered table-striped'}
    %thead
      %tr
        %th
          Name
        %th
          Provider name
        %th
          Info
        %th
    %tbody
      - @portfolio.providers.select{|p| !p.deleted}.each do |provider|
        %tr
          %td
            = provider.name
          %td
            = provider.provider_name
          %td
            - provider.metrics.select{|metric| !metric.last_error_type.nil?}.take(1).each do |error|
              - if error.last_error_type == 'disconnected'
                Needs reauthentication
              - if error.last_error_type == 'other'
                Other error
          %td
            %a{:href=>"/providers/#{provider.id}",:class=>'button-standard'}
              Edit
            %a{:onclick=>"delete_form_#{provider.id}.submit();",:href=>'#',:class=>'button-standard'}
              Delete
              %form{:action=>"/providers/#{provider.id}",:method=>'POST',:id=>"delete_form_#{provider.id}"}
                = csrf_token_field
                %input{:type=>'hidden',:name=>'_method',:value=>'DELETE'}
            %a{:href=>"/auth/"+(provider.provider_name == 'twitter' ? "oauth-v1" : "oauth-v2")+"/#{provider.provider_name}?portfolioid=#{@portfolio.id}&reauth_to=#{provider.id}",:class=>'button-standard'}
              Reauthenticate