- content_for :title do
  Sign up

= styled_form_for @user, '/users' do |f|
  = f.styled_text_field_block :name
  = f.styled_text_field_block :email
  = f.styled_password_field_block :password
  = f.styled_form_actions_block do
    = f.styled_form_action 'sign up', :primary => true
