- content_for :title do
  Your Profile

= with_theme_builder do |b|
  = b.item_group do
    = b.paired_item_group_label 'name:'
    = b.paired_item_group_value do
      = @user.name
  = b.item_group do
    = b.paired_item_group_label 'email address:'
    = b.paired_item_group_value do
      = @user.email
  = b.item_group do
    = b.paired_item_group_label 'here since:'
    = b.paired_item_group_value do
      = @user.created_at
  = b.item_group do
    = b.paired_item_group_label 'belongs to:'
    = b.paired_item_group_value do
      = @user.organizations.map { |o| o.name }.join ','
