- content_for :title do
  Profile

= form_for @user, '/users/me', :method=>:put, :builder=>UtilityFormBuilder, :class=>'form form-horizontal' do |f|
  .form-group
    %label{:for=>'name',:class=>['col-md-2 control-label'] }
      Name:
    .col-md-5
      = f.text_field :name, :class=>'form-control'
    = f.error_messages_for :name
  .form-group
    %label{:for=>'email',:class=>'col-md-2 control-label'}
      Email:
    .col-md-5
      = f.email_field :email, :class=>'form-control'
    = f.error_messages_for :email
  .form-group
    %label{:for=>'password',:class=>'col-md-2 control-label'}
      Password:
    .col-md-5
      = f.password_field :password, :class=>'form-control'
    = f.error_messages_for :password
  .form-group
    %label{:for=>'repassword',:class=>'col-md-2 control-label'}
      Retype password:
    .col-md-5
      = f.password_field :repassword, :class=>'form-control'
    = f.error_messages_for :repassword
  .form-group
    %label{:class=>'col-md-2 control-label'}
      User created at:
    .col-md-5
      %p
        = @user.created_at
  .form-group
    %label{:class=>'col-md-2 control-label'}
      User last updated at:
    .col-md-5
      %p
        = @user.updated_at
  .form-actions
    .row
      .col-md-10{:class=>'col-md-offset-2'}
        = f.submit 'Send',:class => "btn btn-primary"