!!! 5
%head
  %title Uphex
  %meta{:charset => "utf-8"}
  != css :application, :media => 'screen'
  != js :app


%body
  - if !current_user(:impersonate).nil?
    .mod-impersonation-box
      .box{:class=>'container box-transparent'}
        .box-header
          Impersonation notice
        .box-content
          .text
            You are currently impersonating a user:
          .username
            = current_user(:impersonate).name
          %form{:action=>'/sessions/impersonate',:method=>'POST'}
            = csrf_token_field
            %input{:type=>'hidden',:name=>'_method',:value=>'DELETE'}
            %input{:type=>'submit',:value=>'End impersonation',:class=>'button-standard'}
  %header
    .container
      %img{:src => "/images/logo.png", :alt => "UpHex logo"}

        %a{:href => "/", :class => "agency-name"}
          - if !current_user.nil?
            = current_user.organizations.first.name
          - else
            Uphex
        %div.user-nav
          - if !current_user.nil?
            %ul
              %li.username
                %a{:href => "/users/me"}
                  = current_user.name
              - if is_admin?
                %li
                  %a{:href => "/users"} Users
              %li
                %a{:href => "/accounts/me"} Account
              %li
                %a{:onclick=>"logout_form.submit();",:href=>'#'}
                  Log out
                  %form{:action=>'/users/me/session',:method=>'POST',:id=>'logout_form'}
                    = csrf_token_field
                    %input{:type=>'hidden',:name=>'_method',:value=>'DELETE'}
          - else
            %ul
              %li
                %a{:href => "/sessions/new"} Sign in
              %li
                %a{:href => "/users/new"} Sign up
  .mod-page-title-wrapper
    .container
      %h2.page-title
        = yield_content :title

  #main{:role => "main", :class => "container"}
    = flash_tag :notice, :class=>'alert alert-info'
    = flash_tag :error, :class=>'alert alert-danger'
    = yield

  %footer
    .container
      %span.copyright
        UpHex © 2014
