!!! 5
%html
  %head
    = partial 'shared/head'
    != css :forms
    != css :application
    != js :forms
    != js :application

  %body
    = partial 'shared/header'
    .mod-page-title-wrapper
      .container
        %h2.page-title
          = yield_content :title

    #main{:role => "main", :class => "container"}
      = flash_tag :notice, :class => 'alert alert-info'
      = flash_tag :error, :class => 'alert alert-danger'
      = yield

    = partial 'shared/footer'
