!!! 5
%head
  %title Uphex
  %meta{:charset => "utf-8"}
  != css :application, :media => 'screen'
  != js :app


%body
  %header
    .container
      %img{:src => "/images/logo.png", :alt => "UpHex logo"}

        %a{:href => "/", :class => "agency-name"}
          - if env['warden'].authenticated?
            = env['warden'].user.organizations.first.name
          - else
            Uphex
        %div.user-nav
          - if env['warden'].authenticated?
            %ul
              %li.username
                %a{:href => "/users/me"}
                  = env['warden'].user.name
              %li
                %a{:href => "/accounts/me"} Account
              %li
                %a{:onclick=>"logout_form.submit();",:href=>'#'}
                  Log out
                  %form{:action=>'/users/me/session',:method=>'POST',:id=>'logout_form'}
                    = csrf_token_field
                    %input{:type=>'hidden',:name=>'_method',:value=>'DELETE'}
          - else
            %ul
              %li
                %a{:href => "/sessions/new"} Sign in
              %li
                %a{:href => "/users/new"} Sign up
  .mod-page-title-wrapper
    .container
      %h2.page-title
        = yield_content :title

  #main{:role => "main", :class => "container"}
    = yield

  %footer
    .container
      %ul
        %li
          %a{:href => "#"} Our Terms of Service
        %li
          %a{:href => "#"} Our Privacy Policy
        %li
          %a{:href => "#"} Contact
      %span.copyright
        All rights reserved, UpHex © 2013